@charset "UTF-8";
@import "compass";
@import("lib/normalize");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	// IE6 - IE7 Polyfill
	*behavior: url(scripts/lib/boxsizing.htc);
}